
            #body{
                margin: 0;
                overflow: auto;
               min-height: 100hv;
               
            }
            #sch{
                width: 450px;
                height: 30px;
                border-radius: 15px;
                
            }

            #u1 div{
                
              display: inline-block;

            }
            #u2{
                position: absolute;
                top: 15px;
                left: 500px;
                
            }

            #u3{
                position: absolute;
                top: 20px;
                left: 320px;
                width: 100px;
                height: 50px;
            }

            #u4{  
                float: left;
                width: 100vh;
                height: auto;
                background-size: cover;
            }
            #u5{
                position: absolute;
                left: 30px;
                width: 100px;
            }
            #u6{
                position: absolute;
                top: 70px;
                width:100%;
                    
                
            }

            #u7{
                padding: 30px;
            }
            #u8{
                border-radius: 100px;
            }
            #u9{
                border-radius: 100px;
            }
            #u10{
                border-radius: 100px;
            }
            #u11{
                text-align: center;
                font-family: 'Anton', sans-serif;
            }
            #s12{
                font-family: 'Courgette', cursive;
            }
            

            .mySlides {display:none;width:100%}

            

           /*.images
           {
               background-color: #282A35;
               height: 300px;
           }
            .footers
            {     
                overflow: auto;
                color: white;
                text-align: center;
                line-height: 1.5em;
                padding: 100px 100px 100px 100px;
               
            }
            a{
                color: white;
            }
           #sideview
           {  
               display: flex; 
               float: right;
               padding-right: 20px;
               padding-top: 20px;
               background-color: #282A35;
              
           }
           /*div
           {   
               display: flex;
               padding-top: 30px;
             padding-left: 30px;
             height: 300px;
           }*/
          .logos
          {
              float: left;
              background-color: #282A35;
          }
          #q1{
              margin-left: 30px;
              margin-bottom: 80px;
              background-color: #282A35;
          }

          * {box-sizing: border-box;}


input[type=text], input[type=password] {
  
  padding: 14px 20px;
  margin: 8px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}


input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}
button {
  background-color: white;
  opacity: 0%;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
 opacity:0.8;
}

button:hover {
  opacity:1;
}

.cancelbtn {
  padding: 14px 20px;
  background-color:white;
  margin-left: 30px;
  pointer-events: none;
}



.cancelbtn, .signupbtn {
  float: center;
  width:25%;
  pointer-events: none;
}


.container {
  padding: 20px;
}


.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
 top:0;
 left:0;
  width: 100%; /* Full width */
 height: 50% /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-size: 50%;
  background-repeat: no-repeat;
  background-image:url(https://image.shutterstock.com/image-photo/blue-red-paper-background-260nw-1912335064.jpg);
  padding: 50px ;
}


.modal-content {
  background-color:white;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid navajowhite;
  width: 25%; /* Could be more or less, depending on screen size */
}
hr{
  border: 3px solid grey;
  margin-bottom: 20px;
}
label{
color :#000000;}
 

.close {
  position: absolute;
  right: 35px;
  top: 15px;
  font-size: 50px;
  font-weight: thin;
  color:yellow;
}

.close:hover,
.close:focus {
  color: rgb(0, 4, 255);
  cursor: pointer;
}


.clearfix::after {
  content: "";
  clear: both;
  display: table;
  width: 50%;
}
.r1
{  
    
    border-radius: 100px;
    
}

@media screen and (max-width: 600px) {
  .cancelbtn, .signupbtn {
     width: 100%;
  }
  .modal .container{
    width:50%;
    height:50%;
  }
  }
}

.r2{
                    display: inline-block;
                    cursor: pointer;
                    position: absolute;
                    margin-left: 10px;
                    margin-top: 10px;
                  }
                  
                  .bar1, .bar2, .bar3 {
                    width: 35px;
                    height: 5px;
                    padding:  1px;
                    background-color: #333;
                    margin: 6px 0;
                    transition: 0.4s;
                  }
                  
                  .change .bar1 {
                    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
                    transform: rotate(-45deg) translate(-9px, 6px);
                  }
                  
                  .change .bar2 {opacity: 0;}
                  
                  .change .bar3 {
                    -webkit-transform: rotate(45deg) translate(-8px, -8px);
                    transform: rotate(45deg) translate(-8px, -8px);
                  }

                  #div1 {  
           
          width: 80px;
          height: 40px;
          font-size: 12px;
          background: #DDBC8C;
          transition: width 2s;
        }
        #div2 {
            
          width: 100px;
         
          height: 40px;
          font-size: 12px;
          background: #DDBC8C;
          transition: width 2s;
        } #div3 {
            
          width: 150px;
          height: 30px;
          font-size: 12px;
          background: #DDBC8C;
          transition: width 2s;
        } #div4 {
           
          width: 200px;
          height: 30px;
          font-size: 12px;
          background: #DDBC8C;
          transition: width 2s;
        } #div5 {
           
          width: 300px;
          height: 30px;
          font-size: 12px;
          background: #DDBC8C;
          transition: width 2s;
        }
        
        #div1 {transition-timing-function: linear;}
        #div2 {transition-timing-function: ease;}
        #div3 {transition-timing-function: ease-in;}
        #div4 {transition-timing-function: ease-out;}
        #div5 {transition-timing-function: ease-in-out;}
        
        #div1:hover {
          width: 300px;
        }
        #div2:hover {
          width: 300px;
        }
        #div3:hover {
          width: 300px;
        }
        #div4:hover {
          width: 300px;
        }
        #div5:hover {
          width: 300px;
        }
        #r3
        {       
            background-image: linear-gradient(rgba(192,192,192,0.3),rgba(192,192,192,0.3)),url('https://images.pexels.com/photos/1410236/pexels-photo-1410236.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2' );
            data-aos: "fade-down";
            height: 100%;
            width: 100%;
            background-size: cover;
            position: relative;
        }
        #s1{
                
                
                width: 100%;
                overflow: auto;
                height: 400px;
            }

            #s1 div{
                height: 100%;
                display: inline-block;
            }


            
            
            #s2{
                width: 200px;
                left: 50px;
                border-radius: 120px;
                margin-left: 100px;
            }

            #s3{
                width: 200px;
                left: 50px;
                border-radius: 120px;
                margin-left: 100px;
            }
            #s4{
                
                width: 200px;
                left: 50px;
                border-radius: 120px;
                margin-left: 100px;
            }
            #s5{
                
                width: 200px;
                left: 50px;
                border-radius: 120px;
                margin-left: 100px;
            }
            #t1{
                
                
                width: 100%;
                overflow: auto;
                height: 250px;
            }

            #t1 div{
                height: 100%;
                display: inline-block;
            }


            
            
            #t2{
                width: 200px;
                left: 50px;
                border-radius: 120px;
                margin-left: 100px;
            }

            #t3{
                width: 200px;
                left: 50px;
                border-radius: 120px;
                margin-left: 100px;
            }
            #t4{
                
                width: 200px;
                left: 50px;
                border-radius: 120px;
                margin-left: 100px;
            }
            #t5{
                
                width: 200px;
                left: 50px;
                border-radius: 120px;
                margin-left: 100px;
            }

            #t6{
                font-family: 'Courgette', cursive;
                font-size: 20px;
            }

            .images
           {
               background-color: #282A35;
               height: 100px;
               min-height: 90vh;
               overflow: auto;

           }
            .footers
            {     
                overflow: auto;
                color: white;
                text-align: center;
                line-height: 1.5em;
                padding: 100px 100px 100px 100px;
               
            }
            a{
                color: white;
            }
           #sideview
           {  
               display: flex; 
               float: right;
               padding-right: 20px;
               padding-top: 20px;
               background-color: #282A35;
              
           }


 .e1 h3{
               color: #ffffff;
           }
           .e1
           { 
               display: flex;
              padding-left: 80px;
               text-decoration: none;
           }
           .e1{
               text-decoration: none;
           }
           .e1 ul li{
              list-style: none;
              text-decoration: none;
           }
           .e1 a{
               text-decoration: none;
           }
           a:hover
           {  
               text-decoration: underline;
               color: pink;
               transition: 3s;
           }
           @media screen and (max-height: 800px) {
    ul {
        margin-top: 40px;}
    }

    .center{
    position: absolute;
    top: 2270px;
    left: 60%;
    translate: (-50%, -50%,);
    width: 400px;
    height: 425px;
    background: #dedcdf;
    border-radius: 10px;
}

.center h1{
    text-align: center;
    padding: 0 0 20px 0;
    border-bottom: 1px solid silver;

}

.center form{
    padding: 0 0px;
    box-sizing: border-box;
}

form .name_field{
    position: relative;
    
    margin: 10px 0;
}

.name_field input{
    width: 80%;
    padding:0 5px;
    height: 20px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
    margin-left: 30px;
}

.name_field label{
    position: absolute;
    top: 50%;
    left: 5px;
    color: #adadad;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: .5s;
    margin-left: 30px;
}

.name_field span::before{
    content:'';
    position: absolute;
    top: 40px;
    left: 0;
    width: 80%;
    height: 2px;
    background: #2691d9 ;
    transition: .5s;
    margin-left: 30px;

}

.name_field input:focus ~ label,
.name_field input:valid ~ label{
    top: -5px;
    color: #2691d9;

}

.name_field input:focus ~ span::before,
.name_field input:valid ~ span::before{
    width: 80%;

}

input[type="submit"]{
    width: 80%;
    height: 50px;
    border: 1px solid;
    background: #2691d9;
    border-radius: 25px;
    font-size: 18px;
    color:#e9f4fb;
    font-weight: 700;
    cursor: pointer;
    outline: none;
    margin-left: 40px;
    margin-top: 20px;
}

input[type="submit"]:hover{
    border-color: #2691d9;
    transition: .5s;

}
       .e3
       {
         width: 100%;
         height: 400px;
         position: relative;
         left: 50%;
         transform: translate(-50%,0%);
         background-image:url('https://media.gettyimages.com/photos/luxury-five-stars-hotels-lobby-picture-id1077111606?k=20&m=1077111606&s=612x612&w=0&h=eSDeNCA7ImrYUHDl-PPInohY2N5qtglUkuht2duNWTE=');
         background-size: 100% 100%;
         box-sizing: 1px 2px 5px 5px gray;
         animation: slider 5s infinite;
        }
     @keyframes slider{
              30%{background-image: url('images/rst1.jpg'); background-size: 100% 100%;}
              35%{background-image: url('images/rest2.jpg');  background-size: 100% 100%;}
              35%{background-image: url('images/rest2.jpg');  background-size: 100% 100%;}
              35%{background-image: url('images/rest2.jpg'); background-image: 100% 100%;}
               35%{
                 background-images: url('images/rest2.jpg'); background-size: 100% 100%;
               }
            }

            .dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}
        #e1{
            pointer-events: none;
            font-family: 'Baloo Bhaina 2', cursive;
        }

        .a{
            padding: 0%;
        }
        

.g0 ul {
 margin: 0;
 padding: 0;
 display: flex;
 position: relative;
 top: 100%;
 left: 50%;
 transform: translate(-50%, -50%);
 
 overflow: auto;
 padding-left: 40px;
 padding-left: 30px;
 padding-bottom: 30px;
    top: 30px;
 
}


.g0 ul li {
 list-style: none;
 margin: 0 15px;
}

.g0 ul li a {
 position: relative; 
 display: block;
 width: 200px;
 height: 200px;
 text-align: center;
 line-height: 63px;
 background: #333;
 border-radius: 50%;
 font-size: 30px;
 color: white;
 transition: .5s;
}

.g0 ul li a::before {
 content: '';
 position: relative;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 border-radius: 50%;
 background: #ffee10;
 transition: .5s;
 transform: scale(.9);
 z-index: -1;
 border-color: 100px solid yellow;
}

.g0 ul li a:hover::before {
 transform: scale(1.1);
 box-shadow: 0 0 25px #ffee10;

}

.g0 ul li a:hover {
 color: yellow;
 box-shadow: 0 0 5px #ffee10;
 text-shadow: 0 0 5px yellow;
}
#i1{
    margin-left: 120px;
    margin-top: 50px;
    color: #ffffff;
}
#t111{
  font-family: 'Carter One', cursive;
}

#s123{
  position: absolute;
  left: 1000px;
  top: 10px;
}

        